.Select{
  display: inline-block;
  position: relative;
  /**/
  border: 1px solid var(--gray-1);
  border-radius: var(--radius-2);
  overflow: hidden;
}

.Icon{
  position: absolute;
  top: 0;
  bottom: 0;
  right: var(--s-1);
  margin: auto;
  /**/
  pointer-events: none;
}

.Select_input{
  padding: var(--s-1) var(--s-4) var(--s-1) var(--s-3);
  /**/
  font-size: var(--f-1);
  /**/
  border: 0;
  appearance: none;
}
