.Bar{
  height: 20px;
  /**/
  overflow: hidden;
  border-radius: var(--radius-pill);
  background-color: var(--blue-2);
  box-shadow: inset 3px 2px 2px rgba(0,0,0,0.1);
}

.BarFilled{
  height: 100%;
  /**/
  box-shadow: inset 3px 2px 2px rgba(0,0,0,0.1);
  border-radius: var(--radius-pill);
  background-image: linear-gradient(90deg,var(--blue-0),var(--blue-1));
}
